<% include partials/header %>
<% for (blog of blogs) { %>
  <div class="ui main container text segment">
    <h2><%= blog.title %></h2>
    <img src="<%= blog.image %>">
    <h5>Posted: <%= blog.created.toDateString() %></h5>
    <p><%= blog.body.substring(0, 100) %>...</p>
    <a href="/blogs/<%= blog._id %>">Read more</a>
  </div>
<% }  %>
<% include partials/footer %>